.bg-box{
    width: 100%;
    height: 900px;
    background-color: green;
    background-image: url(../image/pole-zelen-trava-dom-derevya.webp), url(../image/green-png-44873.png), url(../image/lamp-png-34914.png), url(../image/3F3F.webp), url(../image/58eb07b830eab15b56162788.png);
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y,repeat-y ;
    background-position: center, bottom, top, left, right;
    background-size: 700px, 200px,100px, 50px, 50px;
}